<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Ipeleng Khule**

Data Analyst

*I wish to change careers, as I have lost job satisfaction in my current employment.*

### My code below is very simple, it is an addition of 2+4 which should provide the output of 6

In [1]:
2+4

6

- THIS IS A LIST
- <font color=red> red text </font> 
- horizontal line
- ***

# Peer graded assignment

## introduction
This is for exercises 2 onwards as they appear, just as I was getting ready to submit.

DATA SCIENCE LANGUAGES

- Python
- R
- SQL

LIBRARIES
- NumPy
- Pandas
- Keras

|---|---|
|Number|Tool|
|---|---|
|1|Oracle DB|
|---|---|
|2|IBMDB2|
|---|---|
|3|PowerBI|

In [10]:
# the line equation y=mx+c does both multiplying and addition of numbers
def line(m, x, c):
    result= m*x+c
    return result

result= line(2,2,2)
print(result)

6

In [14]:
#converting minutes to hours
def conv(minutes): 
    hours= minutes//60
    return hours

hours=conv(126)
print(hours)

2

objectives
- learn coding
- study Jupyter
- Nice assignment

11. Ipeleng Khule